@import 'common.scss';
@import '_minix.scss';

.wrapper{
    width: 100%;
    height: 100%;
    .top{
        width: 100%;
        height: pxTorem(400px);
        padding-top: pxTorem(70px);
        background: rgb(94, 230, 235);
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
            width: 80%;
            height: pxTorem(45px);
            background: rgb(245, 237, 237);
            margin: pxTorem(8px) 0;
            padding-left: pxTorem(14px);
        }
        button{
            width: 80%;
            height: pxTorem(45px);
            background: rgb(9, 223, 9);
            color: #fff;
            font-size: pxTorem(20px);
            outline: none;
        }
        .list{
            display: flex;
            justify-content: space-between;
            span{
                height: 100%;
                width: 40%;
                text-align: center;
            }
        }
        p{
            width: 80%;
            line-height: pxTorem(36px);
            font-size:pxTorem(14px);
            text-align: center;
        }
    }

    .first{
        width: 100%;
        height: pxTorem(200px);
        background: rgb(153, 243, 239);
        padding-top: pxTorem(100px);
        h3{
            width: 100%;
            height: pxTorem(45px);
            text-align: center;
            line-height: pxTorem(45px);
            font-size: pxTorem(17px);
        }
        div{
            width: 100%;
            height: pxTorem(55px);
            line-height: pxTorem(55px);
            display: flex;
            justify-content: space-around;
            a{
                width: pxTorem(55px);
                height: 100%;
                background: rgb(110, 226, 33);
                text-align: center;
                line-height: pxTorem(55px);
                border-radius: 50%;
            }
            i{
                font-size: pxTorem(24px);
                color: #fff;
            }
        }
    }
}